If:
  PathMatch: src/cpp/.*

CompileFlags:
  CompilationDatabase: build

---

If:
  PathMatch: src/craftground/MinecraftEnv/src/main/cpp/.*

CompileFlags:
  CompilationDatabase: src/craftground/MinecraftEnv