# https://github.com/pybind/scikit_build_example/blob/master/.github/workflows/wheels.yml
name: Wheels without CUDA / MacOS

on: [workflow_call]

env:
  FORCE_COLOR: 3

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-nocuda
  cancel-in-progress: true

jobs:
  build_wheels:
    name: Wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        # macos-13 is an intel runner, macos-14 is apple silicon
        os: [ubuntu-latest, macos-latest, windows-latest] # macos-13, macos-14 makes corrupt zip

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true

    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '21'

    - uses: astral-sh/setup-uv@v4

    - name: Install python < 3.13 if macos # https://groups.google.com/g/vim_dev/c/1I20UCzmtF4
      if: matrix.os == 'macos-latest'
      uses: actions/setup-python@v5
      with:
        python-version: '3.12' 

    - name: Build wheels
      uses: pypa/cibuildwheel@v2.22.0
      env:
        CIBW_SKIP: cp36-* cp37-* cp38-* cp313-macosx_*
        CIBW_ARCHS_WINDOWS: "x86"
        CIBW_ARCHS_MACOS: "arm64"
        CIBW_ARCHS_LINUX: "i686"
        CIBW_PROJECT_REQUIRES_PYTHON: "<=3.12"
        CIBW_BEFORE_ALL_MACOS: >
          curl -LO https://download.pytorch.org/libtorch/cpu/libtorch-macos-arm64-2.5.1.zip &&
          unzip -q libtorch-macos-arm64-2.5.1.zip &&
          export LIBTORCH=/usr/local/libtorch &&
          sudo mv libtorch $LIBTORCH &&
          python3 --version &&
          pip3 install --break-system-packages torch

    - name: Verify clean directory
      run: git diff --exit-code
      shell: bash

    - uses: actions/upload-artifact@v4
      with:
        name: cibw-wheels-${{ matrix.os }}
        path: wheelhouse/*.whl