# https://github.com/pybind/scikit_build_example/blob/master/.github/workflows/wheels.yml
name: Linux CUDA wheels

on: [workflow_call]

env:
  FORCE_COLOR: 3

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-cuda-linux
  cancel-in-progress: true

jobs:
  build_wheels:
    name: Wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true

    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '21'

    - uses: astral-sh/setup-uv@v4

    - name: Build wheels
      uses: pypa/cibuildwheel@v2.22.0
      env:
        CIBW_BUILD_VERBOSITY: 1
        CIBW_SKIP: "cp36-* cp37-* cp38-* *musl*"
        CIBW_ENABLE: cpython-prerelease
        CIBW_ARCHS_LINUX: "x86_64"
        CIBW_BEFORE_ALL: > # https://stackoverflow.com/a/77212119/8614565
          yum-config-manager --add-repo https://developer.download.nvidia.com/compute/cuda/repos/rhel7/x86_64/cuda-rhel7.repo &&
          yum clean all &&
          yum -y install cuda-toolkit &&
          ls -al /usr/local &&
          export PATH=$PATH:/usr/local/cuda/bin &&
          nvcc --version

    - name: Verify clean directory
      run: git diff --exit-code
      shell: bash

    - uses: actions/upload-artifact@v4
      with:
        name: cibw-wheels-${{ matrix.os }}-cuda
        path: wheelhouse/*.whl